.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #D5F0C1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), /* Primary shadow */
  0px 2px 4px rgba(0, 0, 0, 0.05); 
}

.input {
  background-color: transparent;
  border: none;
  color: var(--textsoft);
}

.icons{
  display: flex;
  gap: 20px;
  color:black;
}
